./Database/*
./Database/*.*
./MoodleData/*
./MoodleData/*.*
./Moodle/
./Moodle/*
./Moodle/*.*
./.idea
./.idea/*.xml
./.idea/*.iml
./.idea/*
./.idea/*.*
./.vscode
./.vscode/*
./.vscode/*.*
./conf
./conf/*
./conf/*.*
/.vscode/
/Database/
/Moodle/
/MoodleData/
