# * Fine Tuning
key_buffer_size     = 512M
sort_buffer_size    = 8M
read_buffer_size    = 2M
max_allowed_packet = 8192M
thread_stack = 192K
thread_cache_size    = 128
max_connections = 2000
innodb_buffer_pool_size = 24G
innodb_buffer_pool_instances = 24
innodb_read_io_threads = 16
innodb_write_io_threads = 8
#Join Buffer
join_buffer_size    = 12M
# * Table Cache
table_definition_cache     = 5000
table_open_cache        = 6000
table_open_cache_instances   = 60
# * Temp Tables
max_heap_table_size       = 256M
tmp_table_size         = 256M